/* PlaceOrder css Design  */
.booking-form input.btn.btn-success {
    width: 30%;
    padding: 10px;
    font-size: 18px;
    font-weight: 500;
}
form input, textarea {
    width: 80%;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid gray;
}
.booking-form {
    background: gray;
    padding: 58px 0;
}

/* MObile Responsive  */
@media only screen and (max-width:480px) {
    .booking-form input.btn.btn-success {
        width: 50%;
    }
    form input, textarea {
        width: 90%;
    }
}