/* Reviews design  */

form input,textarea {
    width: 80%;
    margin-bottom: 10px;
    padding: 8px;
}
form {
    margin: 0 auto;
    text-align: center;
}
.review-form .btn-danger {
    width: 30%;
}