.contact-area {
    background-image: url('../../images/about.svg');
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    z-index: 1;
    color:#fff;
    padding-bottom: 40px;
}

.contact-area:before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: #000;
    opacity: .8;
    z-index: -1;
}
.contact-area input,textarea {
    border: 0;
    border-radius: 5px;
    padding: 12px;
}