/* // Comming soon css design  */
.comming-soon-product {
    background: #f7f7f7;
}
.single-service1 {
    border: 2px solid gainsboro;
    padding: 5px;
    border-radius: 5px;
    margin-bottom: 20px;
}
