/* Banner Css Design  */
.banner-area {
    background-image:url('../../../images/banner.jpg');
    height: 100vh;
    background-size: cover;
    background-position:center;
    z-index: 1;
    position: relative;
}
.banner-area:before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    background: #000;
    opacity: .5;
    z-index: -1;
}
.banner-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: #fff;
}
.banner-content h2 {
    font-size: 55px;
    font-weight: 600;
}
.banner-content p {
    padding: 10px 0;
}


/* Media query  */

@media only screen and (max-width:480px) {
    .banner-content {
        width: 90%;
    }
    .banner-content h2 {
        font-size: 45px;
        font-weight: 600;
    }
}