/* Footer css design  */
.footer {
    background: #1C1C1C;
    color: #fff;
    padding: 40px 0;
}
.footer-menu a {
    display: block;
    text-decoration: none;
    color: #fff;
    margin-bottom: 6px;
}