/* Navigation css design  */
nav.navbar.navbar-expand.navbar-dark.bg-dark {
    padding: 14px 0;
}
.navbar-dark .navbar-nav .nav-link {
    color: #fff;
    font-size: 18px;
}
.navbar-brand {
    color: #fff;
    font-size: 24px;
    font-weight: 700;
}

/* Responsive mobile device  */

@media only screen and (max-width:480px) {
    a.btn.btn-danger.nav-link {
        width: 100px;
    }
}

